[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
psycopg2-binary = "*"
djangorestframework = "*"
django-extensions = "*"
djoser = "*"
django-cors-headers = "*"
django-on-heroku = "*"
gunicorn = "*"
boto3 = "*"
django-storages = "*"
sendgrid = "*"
black = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
